
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Tilt Warp', cursive;
}
.header-img {
    width: 100%;
    margin: 0 auto;
    background-size: cover;
}
.main {
    margin-top: -10px;
    background: white;
    padding: 10px;
    
}
.main h3 {
    text-align: center;
    color: #023E8A;
}
p {
    font-family: 'Quicksand', sans-serif;
}
.container {
    padding: 10px;
    
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    padding: 30px;
    border-radius: 20px;
    margin: 30px;
    box-shadow: 0 0 15px rgba( 0, 119, 182, .2);
    transition: .5s ease-in;
}
.content:hover {
    transform: scale(1.1);
}
.content img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #0096C7;
}
.content h4 {
    text-transform: uppercase;
    color: #0077B6;
}
.card {
    display: flex;
    width: 300px;
    margin-top: 30px;
    background: #CAF0F8;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba( 0, 119, 182, .2);
    align-items: center;
}
.card img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 10px;
}
.card .guide {
    flex-direction: column;
}